:root{
    
    --spacing-2xs: .25rem;
    --spacing-xs: .5rem;
    --spacing-sm: .75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 1.75rem;
    --spacing-2xl: 2.5rem;

    --font-family: 'Roboto';

    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-sm: .75rem;
    --font-size-xl: 2rem;

    --border-radius-sm: .25rem;
    --border-radius-md: .5rem;


    /*Colors*/

    --color-primary: #fb8500;
    --color-primary-contrast: #fff;
    --color-primary-accent: #fb8500;
    --color-secondary: #219ebc;
    --color-secondary-contrast: #fff;
    --color-secondary-light: #8ecae6;
    --color-secondary-light-contrast: #000;
    --color-secondary-dark: #023047;

    /*Forms*/

    --input-height: 2.5rem;
    --input-border: 1px solid #ccc;
}

